:root {
  --bg-main-color: #FBF7F4;
  --bg-secondary-color: #0F1322;
  --text-main-color: #fff;
  --text-secondary-color: #A0A0A0;
  --outline-color: #cfd8dc;
  /* --form-color: #eceff1; */
  --accent-color: #FE6751;
}