.card {
  background: #FFFFFF;
  height: 190px;
  box-shadow: 2px 15px 20px rgba(34, 21, 15, 0.03);
  border-radius: 10px;
  position: relative;
  flex: 1 1 360px;
}

.card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0F1322;
}

.card__like {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__photo {
  width: 127px;
  height: 127px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transform: translateY(-10px);
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .2s ease 0s;
}

.card__photo:hover {
  border: 2px solid #FE6751;
  
}

.card__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0F1322;
  transition: all .1s ease 0s;
}

.card__title:hover {
  color: #FE6751;
}

.rate {
  display: flex;
  gap: 8px;
  color: #A0A0A0;
  margin-bottom: 10px;
}

.rate__text {
  display: flex;
  gap: 5px;
}