.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 30px 20px;
  align-content: flex-start;
}

@media (max-width: 460px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}